body{
    background-color: #f2f2f2;
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    color: royalblue;
}
#todo-item{
    height: 50px;
    width: 500px;
    font-size: 40px;
    border-radius: 5px;
    border: 1px solid black;
}
.todo button{
    height: 50px;
    margin: 10px 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: 4px;
    color: white;
    cursor:pointer;
}
.add-btn{
    background-color: green;
}
.add-btn:hover{
    background-color: rgb(16, 175, 16);
}
.del-all-btn{
    background-color: red;
}
.del-all-btn:hover{
    background-color: rgb(233, 30, 30);
}

.items{
    margin-top: 45px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.items li{
    list-style: none;
    height: 70px;
    font-size: 25px;
}
.items li .span-2{
    margin-left: 70px;
}
.items li hr{
    width: 50%;
}
.items li button{
    height: 35px;
    margin: 5px 4px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    font-size: 15px;
    color: white;
    cursor:pointer;
}
.del-btn{
    background-color: red;
}
.del-btn:hover{
    background-color: rgb(233, 30, 30);
}
.edit-btn{
    background-color: rgb(68, 0, 255);
}
.edit-btn:hover{
    background-color: rgb(41, 78, 243);
}